<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="ansu" content="">

    <title>{{ 'title'|trans }}</title>

    
    <!-- Custom CSS -->
    {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ asset('bundles/app/css/agency.css') }}" rel="stylesheet">
        <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <style>
        .fa-4x {
            padding: 20px;
        }
        .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
            background-color: #6B5E5E !important;
        }
        </style>
    {% endblock %}



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a style="padding:0px" class="navbar-brand page-scroll" href="#page-top"><img width="120px" src="{{ asset('bundles/app/img/logos/tracar-logo.png') }}" class="rcorners img-responsive" alt=""></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">{{ 'solutions'|trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">{{ 'types' |trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">{{ 'features'|trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">{{ 'portal' |trans }}</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">{{ 'contact' |trans }}</a>
                    </li>
                    <li>
                        <div class="btn-group" style="margin: 10px">
                        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                          Language
                          <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu lang" style="padding: 10px">
                            <li id="en"> <a style="color: #315B80" href="{{ path('home') }}">English</a> </li>
                            <li id="ne"> <a style="color: #315B80" href="{{ path('home', {slug:'de'}) }}">Deutsche</a> </li>
                        </ul>
                      </div>
                    </li>    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

                        
                        <!---- this part ---->
    <!-- Header -->
    
{# <header>
       
    <div class="container">
        <video class="header-vd" controls preload="true" autoplay loop muted>
        <source src="{{ asset('bundles/app/video/GPS.mp4') }}" type="video/mp4" > 
        </video>
        <div class="intro-text">
            <div class="overlay">
                <div class="intro-lead-in">{{ 'sub_title'|trans }}</div>
                <div class="intro-heading">{{ 'title_subtext'|trans }}</div>
                <a href="#services" class="page-scroll btn btn-xl">{{ 'know_more'|trans }}</a>
            </div>
        </div>
    </div>
        
</header>#}
      
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">{{ 'sub_title'|trans }}</div>
                <div class="intro-heading">{{ 'title_subtext'|trans }}</div>
                <a href="#services" class="page-scroll btn btn-xl">{{ 'know_more'|trans }}</a>
            </div>
        
        </div>
        <div class="random-float" id ="random-float-1" style="font-size: 20px; opacity: 0.7">43°2’27” N</div>   
        <div class="random-float" id ="random-float-2" style="font-size: 40px; opacity: 0.3">13°24’53” N</div>   
        <div class="random-float" id ="random-float-3" style="font-size: 35px; opacity: 0.6">51°21’35” N</div>   
        <div class="random-float" id ="random-float-4" style="font-size: 14px; opacity: 0.5">43°12’47” N</div>   
        <div class="random-float" id ="random-float-5" style="font-size: 30px; opacity: 0.5">3°52’24” N</div>   
        <div class="random-float" id ="random-float-6" style="font-size: 25px; opacity: 0.3">5°9’43” N</div>   
        <div class="random-float" id ="random-float-7" style="font-size: 20px; opacity: 0.2">8°23’40” N</div>   
        <div class="random-float" id ="random-float-8" style="font-size: 22px; opacity: 0.5">6°9’25” N</div>   
        <div class="random-float" id ="random-float-9" style="font-size: 17px; opacity: 0.3">17°34’43” N</div>   
        <div class="random-float" id ="random-float-10" style="font-size: 10px; opacity: 0.7">28°5’29” N</div>   
    </header>

        <!---- this part ends ---->

    <!-- Services Section -->
    <section id="services" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'solutions'|trans }}</h2>
                    <h3 class="section-subheading text-muted">{{ 'solutions_desc'|trans }}</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wifi fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ 'transmission'|trans }}</h4>
                    <p class="text-muted">{{ 'transmission_desc'|trans }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ 'support'|trans }}</h4>
                    <p class="text-muted">{{ 'support_desc'|trans }}</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">{{ 'devices'|trans }}</h4>
                    <p class="text-muted">{{ 'devices_desc'|trans }}</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'types'|trans }}</h2>
                    <h3 class="section-subheading text-muted">{{ 'types_desc'|trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/extra/ip67-large.jpg') }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ 'ip67'|trans }}</h4>
                        <p class="text-muted">{{ 'ip67_desc'|trans }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/extra/obd2-large.jpg') }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ 'obd2'|trans }}</h4>
                        <p class="text-muted">{{ 'obd2_desc'|trans }}</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="{{ asset('bundles/app/img/extra/wired-large.jpg') }}" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>{{ 'wired'|trans }}</h4>
                        <p class="text-muted">{{ 'wired_desc'|trans }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'features' |trans }}</h2>
                    <h3 class="section-subheading text-muted">{{ 'features_desc' |trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-sort-amount-asc fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_1' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_1' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-life-ring fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_2' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_2' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-tablet fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_3' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_3' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                                                                       <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-life-ring fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_5' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_5' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-trophy fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_6' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_6' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                                                                       <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-trash-o fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_7' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_7' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-users fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_8' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_8' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-user fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_9' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_9' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        
                        <li>
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-unlock fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_10' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_10' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <span class="fa-stack fa-4x">
                                    <i class="fa fa-circle fa-stack-3x text-primary"></i>
                                    <i class="fa fa-times-circle fa-stack-2x fa-inverse"></i>
                                </span>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>{{ 'features_4' |trans }}</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">{{ 'features_desc_4' |trans }}</p>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'portal' |trans }}</h2>
                    <h3 class="section-subheading text-muted">{{ 'portal_desc' |trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('bundles/app/img/portal/circular.png') }}" class="img-responsive img-circle" alt="">
                        <h4>{{ 'portal_1' |trans }}</h4>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('bundles/app/img/portal/geo-references.png') }}" class="img-responsive img-circle" alt="">
                        <h4>{{ 'portal_2' |trans }}</h4>
                        
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="{{ asset('bundles/app/img/portal/customer-nanny.png') }}" class="img-responsive img-circle" alt="">
                        <h4>{{ 'portal_3' |trans }}</h4>
                        
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">{{ 'note' |trans }}</p>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Contact Section -->
    <section id="contact" class="bg-light-blue">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ 'contact_us' |trans }}</h2>
                    <h3 class="section-subheading text-muted">{{ 'contact_note' |trans }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{{ 'name' |trans }}" id="name" required data-validation-required-message="{{ 'name_desc' |trans }}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="{{ 'email' |trans }}" id="email" required data-validation-required-message="{{ 'email_desc' |trans }}">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="{{ 'phone' |trans }}" id="phone" required data-validation-required-message="{{ 'phone_desc' |trans }}">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="{{ 'msg' |trans }}" id="message" required data-validation-required-message="{{ 'msg_desc' |trans }}"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">{{ 'send_msg' |trans }}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <!-- Map Aside -->
    <aside class="clients">
        <div style="width: 100%"><iframe width="100%" height="600" src="http://www.maps.ie/create-google-map/map.php?width=100%&amp;height=600&amp;hl=en&amp;q=Saarland%2C%20Germany+(Tracar)&amp;ie=UTF8&amp;t=&amp;z=13&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/fr/creez-une-carte-google/">générateur d'iframe de Cartes Google</a> by <a href="http://www.mapsdirections.info/fr/">Carte Google Maps</a></iframe></div>
    </aside>

    <footer>
        <div class="container" class="bg-light-blue">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ 'box' |trans }} </span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">{{ 'pri_policy' |trans }}</a>
                        </li>
                        <li><a href="#">{{ 'terms' |trans }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ 'ip67'|trans }}</h2>
                            <p class="item-intro text-muted">{{ 'ip67_desc_detailed'|trans }}</p>
                            <img class="img-responsive img-centered" src="{{ asset('bundles/app/img/extra/ip67-large.jpg') }}" alt="">
                            <div>
                                <h4>{{ 'description'|trans }}</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">{{ 'ip67_desc_1'|trans }}</li>
                                    <li class="list-group-item">{{ 'ip67_desc_2'|trans }}</li>
                                    <li class="list-group-item">{{ 'ip67_desc_3'|trans }}</li>
                                    <li class="list-group-item">{{ 'ip67_desc_4'|trans }}</li>
                                    <li class="list-group-item">{{ 'ip67_desc_5'|trans }}</li>
                                </ul>
                            </div>
                            
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ 'obd2'|trans }}</h2>
                            <p class="item-intro text-muted">{{ 'obd2_desc_detailed'|trans }}</p>
                            <img class="img-responsive img-centered" src="{{ asset('bundles/app/img/extra/obd2-large.jpg') }}" alt="">
                            <div>
                                <h4>{{ 'description'|trans }}</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">{{ 'obd2_desc_1'|trans }}</li>
                                    <li class="list-group-item">{{ 'obd2_desc_2'|trans }}</li>
                                    <li class="list-group-item">{{ 'obd2_desc_3'|trans }}</li>
                                    <li class="list-group-item">{{ 'obd2_desc_4'|trans }}</li>
                                    <li class="list-group-item">{{ 'obd2_desc_5'|trans }}</li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>{{ 'wired'|trans }}</h2>
                            <p class="item-intro text-muted">{{ 'wired_desc_detailed'|trans }}</p>
                            <img class="img-responsive img-centered" src="{{ asset('bundles/app/img/extra/wired-large.jpg') }}" alt="">
                            <div>
                                <h4>{{ 'description'|trans }}</h4>
                                <ul class="list-group">
                                    <li class="list-group-item">{{ 'wired_desc_1'|trans }}</li>
                                    <li class="list-group-item">{{ 'wired_desc_2'|trans }}</li>
                                    <li class="list-group-item">{{ 'wired_desc_3'|trans }}</li>
                                    <li class="list-group-item">{{ 'wired_desc_4'|trans }}</li>
                                    <li class="list-group-item">{{ 'wired_desc_5'|trans }}</li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom Theme JavaScript -->
    {% block javascripts %}
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js" crossorigin="anonymous"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="{{ asset('bundles/app/js/agency.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jqBootstrapValidation.js') }}"></script>
        <script src="{{ asset('bundles/app/js/contact_me.js') }}"></script>
        <script src="{{ asset('bundles/app/js/classie.js') }}"></script>
        <script src="{{ asset('bundles/app/js/cbpAnimatedHeader.js') }}"></script>
    {% endblock %}

</body>

</html>
